body {
  padding: 30px;
}

.weather-form {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  font-size: 40px;
  margin: 5px 26px auto;
}
ul {
  margin: 0 0 10px;
  padding: 0;
  display: block;
}

li {
  color: rgb(136, 133, 133);
  list-style: none;
  display: block;
}
.card {
  margin: 20px auto;
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 20px;
  max-width: 600px;
}
.temp {
  font-size: 60px;
  margin: 5px 26px auto;
}
.celsius {
  font-size: 25px;
  position: absolute;
  left: 105px;
  bottom: 55px;
}

.cloudy-icon {
  margin-bottom: 30px;
  font-size: 100px;
  color: rgb(255, 145, 0);
  text-align: right;
}
.app,
.coder {
  color: gray;
}

.link {
  display: block;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}
