body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 24px;
  line-height: 28px;
  margin: 3px 6px;
}
ul {
  margin: 5px;
  padding: 0;
}

li {
  color: rgb(136, 133, 133);
  list-style: none;
  margin: 0 6px;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
}
li::first-letter {
  text-transform: capitalize;
}
small a {
  text-decoration: none;
}
small {
  color: rgb(136, 133, 133);
}
.card-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.card {
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 20px;
}
.weather-form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card .btn {
  background: rgb(236, 121, 78);
  border: none;
  border-radius: 8px;
}
.card .search-input {
  border: #885df1;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 70px;
  line-height: 1;
  font-weight: 700;
  margin: 5px 26px auto;
}
.card li span {
  color: rgb(236, 121, 78);
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  right: 22px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
.weather-temperature .fahrenheit {
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  color: rgb(236, 121, 78);
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
  color: rgb(236, 121, 78);
}
